.footer {
  padding: 40px 0;
  width: 100%;
  height: auto;
  background: $color-text;
  display: flex;
  justify-content: center;

  &-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
  }

  &-logos {
    display: flex;
    flex-basis: 35%;
    justify-content: flex-start;
    align-items: center;
    &-fb{
      margin-right: 20px;
    }
    &-fb,&-tg {
      font-size: 19px;
      color: $color-white;
    }
  }

  &-copyright{
    font-family: 'AvenirNextCyr-Regular', sans-serif;
    color: $color-white;
    text-align: right;
    &-c {
      font-size: 1.4rem;
    }
    &-a {
      font-size: 1rem;
    }
  }

}
