.leader {
  display: flex;
  flex-direction: column;
  height: 100%;

  &-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex-grow: 1;
  }

  &-heading {
    font-family: 'AvenirNextCyr-Bold';
    font-size: 18px;
    color: $color-text;
    text-align: center;
    height: 5rem;
    line-height: 5rem;
    flex-shrink: 0;
  }

  &-item {
    display: flex;
    height: 8rem;
    justify-content: space-between;
    align-items: center;
    font-family: 'AvenirNextCyr-Demi';
    font-size: 1.4rem;
    color: $color-text;
    padding-left: .7rem;
    padding-right: 2.5rem;
    flex-shrink: 0;

    &:hover {
      background: rgba($color-primary, .10);
    }

    &__rank {
      margin-right: 1.5rem;
    }

    &__points {
      font-family: 'AvenirNextCyr-Bold';
      font-size: 1.8rem;
      color: $color-primary;
    }

    &__img {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 2.1rem;
      & > img {
        display: block;
        height: 100%;
      }
    }
  }

  &-left {
    flex-basis: 80%;
    display: flex;
    height: 100%;
    align-items: center;
  }
}
