.login {
  padding-top: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &-divider {
    font-family: 'AvenirNextCyr-Demi';
    width: 276px;
    font-size: 14px;
    display: flex;
    color: $color-text;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.1rem;
    &__text {
      margin: 0 auto;
      text-align: center;
      max-width: 180px;
      font-family: 'AvenirNextCyr-Demi';
      font-size: 14px;
      color: $color-text;
    }
    &__line {
      display: inline-block;
      width: 43%;
      height: 1.1px;
      background: $color-gray;
    }
  }

  &-signup {
    font-size: 14px;
    color: $color-text;

    &-span {
      font-family: 'AvenirNextCyr-Demi';
      color: $color-primary;
    }
  }
}
