.signup {
  &-login {
    text-align: center;
    font-family: "AvenirNextCyr-Regular", sans-serif;
    font-size: 14px;
    color: rgba($color-white, 0.5);
    letter-spacing: 0.05px;
    &-span {
      cursor: pointer;
      opacity: 1;
      color: $color-white;
    }
  }
}
